<div class='container-fluid' style="padding-right: .0rem; padding-left: .0rem; background-color: #212529!important;">
  <div class="card">
    <!-- <div class="heading text-center">
          <div class="head1">Just Scratching the Surface</div>
          <p class="bdr"></p>
      </div> -->
    <div class="card-body">
      <div class="row m-0 ">

        <div class="card col-12 col-md-3">
          <div class="card-content">
            <img src="assets\img\facebook-5221.png" class="img-resize" alt="">
            <div class="card-title">            
              <a href="https://www.facebook.com/haiND300499" class="link-color">CONTACT US ON FACEFOOK </a>
            </div>
            <div class="learn-more">
              <p> <small> LEARN MORE <label><i class="fa fa-angle-right"></i></label> </small> </p>
            </div>
          </div>
        </div>

        <div class="card col-12 col-md-3">
          <div class="card-content">
            <img src="assets\img\youtube.png" class="img-resize" alt="">
            <div class="card-title">
              <a href="https://www.facebook.com/haiND300499" class="link-color">SEE US ON YOUTUBE </a>
            </div>
            <div class="learn-more">
              <p> <small> LEARN MORE <label><i class="fas fa-angle-right"></i></label> </small> </p>
            </div>
          </div>
        </div>

        <div class="card col-12 col-md-3">
          <div class="card-content">
            <img src="assets\img\gmail.png" class="img-resize" alt="">
            <div class="card-title">
              <a href="https://www.facebook.com/haiND300499" class="link-color">CONTACT US ON GMAIL </a>
            </div>
            <div class="learn-more">
              <p> <small> LEARN MORE <label><i class="fas fa-angle-right"></i></label> </small> </p>
            </div>
          </div>
        </div>

        <div class="card col-12 col-md-3">
          <div class="card-content">
            <img src="assets\img\instagram-logo-8869.png" class="img-resize" alt="">
            <div class="card-title">
              <a href="https://www.facebook.com/haiND300499" class="link-color">SEE US ON INSTAGRAM </a>
            </div>
            <div class="learn-more">
              <p> <small> LEARN MORE <label><i class="fas fa-angle-right"></i></label> </small> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card-footer row m-0">
          <p> <label> <i class="fas fa-phone fa-rotate-90 text-primary"></i> </label> 800-601-0230</p>
          <div>
              <p> <small class="follow-text">FOLLOW US ON SOCIAL MEDIA</small> <label class="footer-right"> <i class="fab fa-instagram"></i> <i class="fab fa-facebook-square"></i> <i class="fab fa-linkedin"></i> <i class="fab fa-twitter-square"></i> </label> </p>
          </div>
      </div> -->
  </div>
</div>