
<!-- hiển thị thông tin câu hỏi -->
<div class="container page mt-sm-5 my-1 row shadow">
  <div class="col-9" style="  border-right: 1px solid #cfcfcf; ">
    <div id="show_question" class="question ml-sm-5 pl-sm-5 pt-2 " *ngIf="question">
      <div>
        <img style="width: 200px;" src="{{question.img}}" alt="">
      </div>
      <div class="py-2 h5">
        <b>Câu số {{question.index+1}}: {{question.question}}</b>
      </div>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
        <label *ngIf="check('a') && question.answer_a" class="options">{{question.answer_a}}<input type="radio"
            name="radio" checked (click)="onclick('a') "> <span class="checkmark"></span> </label>
        <label *ngIf="!check('a') && question.answer_a" class="options">{{question.answer_a}}<input type="radio"
            name="radio" (click)="onclick('a') "> <span class="checkmark"></span> </label>
        <label *ngIf="check('b') && question.answer_b" class="options">{{question.answer_b}}<input type="radio"
            name="radio" checked (click)="onclick('b') "> <span class="checkmark"></span> </label>
        <label *ngIf="!check('b') && question.answer_b" class="options">{{question.answer_b}}<input type="radio"
            name="radio" (click)="onclick('b') "> <span class="checkmark"></span> </label>
        <label *ngIf="check('c') && question.answer_c" class="options">{{question.answer_c}}<input type="radio"
            name="radio" checked (click)="onclick('c') "> <span class="checkmark"></span> </label>
        <label *ngIf="!check('c') && question.answer_c" class="options">{{question.answer_c}}<input type="radio"
            name="radio" (click)="onclick('c' ) "> <span class="checkmark"></span> </label>
        <label *ngIf="check('d') && question.answer_d" class="options">{{question.answer_d}}<input type="radio"
            name="radio" checked (click)="onclick('d') "> <span class="checkmark"></span> </label>
        <label *ngIf="!check('d') && question.answer_d" class="options">{{question.answer_d}}<input type="radio"
            name="radio" (click)="onclick('d') "> <span class="checkmark"></span> </label>
      </div>
    </div>
    <div class="d-flex align-items-center pt-3">
      <div id="prev"> <button class="btn btn-danger" (click)="goToPreviousQuest(question?.index)"
          style="width: 82.06px; height: 36px; margin-left: 2rem;">Trước</button>
      </div>
      <div class="ml-auto mr-sm-5"> <button class="btn btn-success"
          (click)="goToNextQuest(question!.index)">Sau</button> </div>
    </div>
  </div>

  <!-- hiển thị các button chọn câu -->
  <div class="col-3">
    <div class="choice-question">
      <div class="container">
        <p class="countdown" [style]="{'color': time ? '#0064b7' : '#ff6161'}">
          <img src="https://icon-library.com/images/spinner-icon-gif/spinner-icon-gif-24.jpg" style="width: 50px;" alt="">
          <u>
            <countdown [config]="{ leftTime: test?.test_time*60, format: 'mm:ss' }"> </countdown>
          </u>
        </p>
        <div class="row row-cols-auto">
          <div class="col" *ngFor="let question of questions; let i = index">
            <div *ngIf="question.select, else notSelected">
              <button type="button" class="btn btn-outline-info mt-1 ml-1 shadow"
                style="width: 60px; background-color: #67daff; color: white;" (click)="chooseQuestion(i)">
                <p style="font-size: 15px;">Câu {{i+1}}</p>
              </button>
            </div>
            <ng-template #notSelected>
              <button type="button" class="btn btn-outline-info mt-1 ml-1 shadow" style="width: 60px;"
                (click)="chooseQuestion(i)">
                <p style="font-size: 15px;">Câu {{i+1}}</p>
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- button nộp bài  -->
<div *ngIf="count>=questions.length && isSubmit, else notEnough">
  <button id="dis" type="button"
    style="width: 82.06px; height: 36px; color: white; margin-top: 0.4rem; margin-bottom: 0.6rem;" (click)="getMark()"
    class="btn btn-info shadow">Nộp bài</button>
</div>
<ng-template #notEnough> <button id="disableButton" type="button"
    style="width: 82.06px; height: 36px; color: white; background-color: #a4a4a4; margin-top: 0.4rem; margin-bottom: 0.6rem;"
    disabled class="btn shadow">Nộp bài</button> </ng-template>

<!-- hiện kết quả  -->
<div class="mark shadow" *ngIf="mark>=0">
  <h2 id="mark"> Điểm {{mark}}/{{questions.length}} </h2>
  <div *ngIf="mark>=questions.length, else notAchieved">
    <h3 style="color: #60ad5e; text-align: center"> <i class="bi bi-check2-all"></i> Đạt </h3>
    <div class="d-flex justify-content-center">
      <img src="https://cdn.dribbble.com/users/1476693/screenshots/7986326/media/0ccb1c2ddad5ef34f7df874a20be74e2.gif"
        alt="" style="margin: 10px 10px 10px 10px; width: 170px; border-radius: 7px;">
    </div>
  </div>
  <ng-template #notAchieved>
    <h2 style="color: #ff6161; text-align: center;"><i class="bi bi-x-lg"></i> Không đạt </h2>
    <div class="d-flex justify-content-center">
      <img src="https://thumbs.gfycat.com/AptDifferentGrunion.webp"
        alt="" id="img" style="margin: 10px 10px 10px 10px;">
    </div>
  </ng-template>
</div>