.bg-dark {
    background-color: #039be5!important;
}

.navbar-brand {
    padding-top: .5rem;
    padding-bottom: .3125rem;
    margin-left: -0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 0rem;
}
