<app-search-box></app-search-box>

<table class="table table">
    <thead>
        <tr>
            <th scope="col" style="width: 1rem;"><i class="fas fa-sort-numeric-down" style="color: #6ec6ff;"></i></th>
            <th scope="col" style="width: 10rem"><i class="fas fa-file-signature" style="color: #5e92f3;"></i> Câu hỏi</th>
            <th scope="col" style="width: 10rem"><i class="fas fa-adjust" style="color: #4fb3bf;"></i> Đáp án a </th>
            <th scope="col" style="width: 10rem"><i class="fas fa-adjust" style="color: #4fb3bf;"></i> Đáp án b </th>
            <th scope="col" style="width: 10rem"><i class="fas fa-adjust" style="color: #4fb3bf;"></i> Đáp án c </th>
            <th scope="col" style="width: 7rem"><i class="fas fa-adjust" style="color: #4fb3bf;"></i> Đáp án d </th>
            <th scope="col"><i class="fas fa-check-square" style="color: #60ad5e;"></i> Đáp án</th>
            <th scope="col"><i class="fas fa-images" style="color: #58a5f0;"></i></th>
            <th scope="col"><i class="bi bi-gear-wide-connected" style="color: #ffc046;"></i></th>
        </tr>
    </thead>
    <tbody
        *ngFor="let question of questions | paginate: { itemsPerPage: size, currentPage: page, totalItems: totalQuestions}; let i=index ">
        <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{question.question}}</td>
            <td>{{question.answer_a}}</td>
            <td>{{question.answer_b}}</td>
            <td>{{question.answer_c}}</td>
            <td>{{question.answer_d}}</td>
            <td>{{question.correct_answer}}</td>
            <td>
                <div *ngIf="question.img">
                    <button class="btn-action" (click)="openModal(openImg)">
                        <i class="bi bi-eye-fill" style="font-size: 25px; color: #00b8d4; margin-top: 10px;"></i>
                    </button>
                    <ng-template #openImg>
                        <app-img-modal [img]="question.img" ></app-img-modal>
                      </ng-template>                    
                </div>
            </td>
            <td style="padding: 15px 0px 0px 0px">
                <button class="btn-action" style="margin-right: 0.2rem;" (click)="openModal(updateQuestionTemplate)">
                    <i class="bi bi-pencil-fill" style="color: #ffa000; font-size: 25px;"></i>
                </button>
                <ng-template #updateQuestionTemplate>                    
                    <app-update-question [quesFromListQues]="question" ></app-update-question>
                  </ng-template>

                <button class="btn-action" style="margin-right: 0.2rem;" (click)="openModal(addQuesToTestTemplate)">
                    <i class="fas fa-plus" style="color: #29b6f6; font-size: 25px;"></i>
                </button>
                <ng-template #addQuesToTestTemplate>
                    <app-all-test-modal [quesIdFromList]="question.id"></app-all-test-modal>
                </ng-template>
        
                <button class="btn-action" (click)="deleteQuestion(question.id)">
                    <i class="bi bi-trash-fill" style="color: #f44336; font-size: 25px;"></i>
                </button>                
            </td>
    </tbody>
</table>
<!-- <select class="form-select" aria-label="Default select example">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
  </select> -->
<!-- <pagination-controls (pageChange)="getQuestions($event)"></pagination-controls> -->