<!-- <div *ngIf="info.token; else loggedOut">
    <h5 class="text-primary">Your Information</h5>
    <p>
      <strong>Username:</strong> {{info.username}}<br/>
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}.
    </p>
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
  </div>
   
  <ng-template #loggedOut>
    Please login.
  </ng-template> -->
  <div class="container">
    <div class="card">
        <h3 class="text-center">test list</h3>
        <div class="card-body">
            <table class="table table-striped ">
                <thead>
                    <th>id</th>
                    <th>test name</th>
                    <th>test time</th>
                    <th>number of question</th> 
                    <th>create at</th> 
                  </thead>
                <tbody>
                    <tr *ngFor = "let test of tests">
                        <td>{{test.id}}</td>

                        <td>{{test.test_name}}</td>
                        <td>{{test.test_time}}</td>
                        <td>{{test.number_of_questions}}</td>
                        <td>{{test.creat_at}}</td>
                        
                        <!-- <td>
                            <button (click)="updateUser(user.userId)" class="btn btn-info">
                                Update
                            </button>
                            <button (click)="deleteUser(user.userId)" class="btn btn-danger">
                                Delete
                            </button>
                        </td>   -->
                    </tr>
                </tbody>
            </table>
            <!-- <button class="btn btn-info" (click)="goToAddUser()">add</button> -->
        </div>
    </div>
</div>