<div style="margin-top: 50px ">
  <div class="container">
    <div class="row row-cols-auto">
      <div class="row">
        <div class="card shadow" style="width: 16rem; margin-bottom: 20px;" type="button" (click)="goToTest()">
          <div class="card-body home-img d-flex ">
            <img src="https://image.flaticon.com/icons/png/512/3048/3048736.png" alt="" class="home-img">
            <h6 class="card-title" style="margin-top: 15px;"> Thi thử đề tạo sẵn</h6>
          </div>
        </div>
        <div class="card shadow" style="width: 16rem; margin-bottom: 20px;" type="button" (click)="goToRandomTest()">
          <div class="card-body home-img d-flex ">
            <img src="https://image.flaticon.com/icons/png/512/4646/4646128.png" alt="" class="home-img">
            <h6 class="card-title" style="margin-top: 15px;"> Thi thử đề ngẫu nhiên</h6>
          </div>
        </div>
        <div class="card shadow" style="width: 16rem; margin-bottom: 20px;" type="button" (click)="goToTrafficSigns()">
          <div class="card-body home-img d-flex ">
            <img src="https://image.flaticon.com/icons/png/512/3477/3477117.png" alt="" class="home-img">
            <h6 class="card-title" style="margin-top: 15px;"> Biển báo</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>